<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
    <title>Croc Vk Mobile</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/vk_mobile_app.css") %>"/>
  </head>
  <body scheme="client_dark">
    <%= render @view_module, @view_template, assigns %>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vk_mobile_app.js") %>"></script>
  </body>
</html>
