

<%= if Map.has_key?(@conn.assigns, :game) do %>
<h1>Game id: <%= @conn.assigns.game.game_id %></h1>
<h1>You are: <%= if @conn.assigns.is_player, do: "player", else: "spectator" %></h1>
<% end %>

<section class="row">
  <article class="column">
    <h2>Links</h2>
    <ul>
      <li>
        <a href=<%= Routes.user_path(@conn, :index) %>>Create lobby</a>
      </li>
    </ul>
  </article>
</section>
